<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>更真实的地球</title>
    <style type="text/css">
    * {
        padding: 0;
        margin: 0;
    }
    html,
    body {
        height: 100%;
        max-width: 100%;
        margin: 0;
        overflow: hidden;
        font-family: sans-serif
    }
    
    #space {
        width: 100%;
        z-index: -10;
    }
    #canvas-frame {
    	background: rgba(255,255,255,0);
        position: fixed;
        left: 0;
        top: 0;
    }
    </style>
</head>

<body>
    <div id="canvas-frame"></div>
    <canvas id="space"></canvas>
    <script type="text/javascript" src='../public/javascripts/js/Three.js'></script>
    <script src="../public/javascripts/js/jquery-1.6.4.js"></script>
    <script src="../public/javascripts/js/jquery.mousewheel.js"></script>
    <script src="../public/javascripts/js/RequestAnimationFrame.js"></script>
    <script src="../public/javascripts/js/sim.js"></script>
    <script type="text/javascript" src='../public/javascripts/earth-shadow.js'></script>
    <script type='text/javascript' src='../public/javascripts/sky.js'></script>
</body>

</html>
