#header
  #sitName
    h1
      a(href='/blog/index') &#x634B;&#x7801;&#x535A;&#x5BA2;
    |                 
    p.connectEmail JXY001A@aliyun.com
    if user
      #signUser
        img(src='#{user.picture}')
        #userPanel
          .userHandleList
            i#rightCom.iconfont.icon-you1
          .userHeader.userHandleList
            if user.rol < 10
              a#headImgBox(href='/admain/index')
                img(src='#{user.picture}')
            else
              a#headImgBox(href='javascript:void(0);')
                img(src='#{user.picture}')
          .userHandleList
              a.userName(href='javascript:void(0);') #{user.nickName}
          .userHandleList
            .btnBox
              i.iconfont.icon-modify
              a.btnName(href='/user/messModify') 修改信息
          .userHandleList
            .btnBox
              i.iconfont.icon-liulanjilu
              a.btnName(href='javascript:void(0);') 浏览记录
          .userHandleList
            if user.rol < 10
              .btnBox
                i.iconfont.icon-xiewenzhang01
                a.btnName(href='/blog/essay/Uplaod') 写文章
            else
              .btnBox
                i.iconfont.icon-quanxian
                a.btnName(href='javascript:void(0);') 升级权限
          .userHandleList
            .btnBox
              i.iconfont.icon-shoucang
              a.btnName(href='javascript:void(0);') 收藏
          .userHandleList
            .btnBox
              i.iconfont.icon-8fuzhi
              a.btnName(href='/user/exit') 注销
        script(type='text/javascript',src='../javascripts/userPanel.js')
    else
      #signInUp
        a(href='/user/signIn',class='sign') 登录&nbsp;
        a(href='/user/signUp',class='sign') 注册
  |             
  #nav_meau
    a.current(href='/blog/index')
      i.iconfont.icon-shouye_shouye
      |  &#x9996;&#x9875;
    |                 
    a#categoryList(href='/blog/categoryList')
      i.iconfont.icon-5ziyuanguidang
      |  &#x5F52;&#x6863;
    |                 
    a(href='javascript:void(0)')
      i.iconfont.icon-guanyu
      |  &#x5173;&#x4E8E;