#meau-right
  #meauControl
    #search
      input#searchInput(type='text', name='', placeholder='Search')
      |                         
      a#searchBtn(href='javascript:void(0);') &#x641C;&#x7D22;
    |                     
    #classify
      .meauTitle
        i.iconfont.icon-fenlei
        |                             
        a(href='javascript:void(0);') &#x5206;&#x7C7B;
      |                         
      .content
        .classTitle javascript
        |                             
        .classTitle NodeJs
        |                             
        .classTitle java
        |                             
        .classTitle MongDB
        |                             
        .classTitle express
    |                     
    #newArticle
      .meauTitle
        i.iconfont.icon-zuixingonggao
        |                             
        a(href='javascript:void(0);') &#x6700;&#x65B0;&#x6587;&#x7AE0;
      |                         
      ul.articleList
        li.item1
          a(href='javascript:void(0);') &#x3010;&#x8BD1;&#x3011;RESTful APIs, &#x4E00;&#x4E2A;&#x5DE8;&#x5927;&#x7684;&#x8C0E;&#x8A00;&#x554A;&#x53D1;&#x53D1;&#x5676;&#x68B5;&#x8482;&#x5188;
        |                             
        li.item1
          a(href='javascript:void(0);') &#x3010;&#x8BD1;&#x3011;RESTful APIs, &#x4E00;&#x4E2A;&#x5DE8;&#x5927;&#x7684;&#x8C0E;&#x8A00;&#x554A;&#x53D1;&#x53D1;&#x5676;&#x68B5;&#x8482;&#x5188;
        |                             
        li.item1
          a(href='javascript:void(0);') &#x3010;&#x8BD1;&#x3011;RESTful APIs, &#x4E00;&#x4E2A;&#x5DE8;&#x5927;&#x7684;&#x8C0E;&#x8A00;&#x554A;&#x53D1;&#x53D1;&#x5676;&#x68B5;&#x8482;&#x5188;
        |                             
        li.item1
          a(href='javascript:void(0);') &#x3010;&#x8BD1;&#x3011;RESTful APIs, &#x4E00;&#x4E2A;&#x5DE8;&#x5927;&#x7684;&#x8C0E;&#x8A00;&#x554A;&#x53D1;&#x53D1;&#x5676;&#x68B5;&#x8482;&#x5188;
        |                             
        li.item1
          a(href='javascript:void(0);') &#x3010;&#x8BD1;&#x3011;RESTful APIs, &#x4E00;&#x4E2A;&#x5DE8;&#x5927;&#x7684;&#x8C0E;&#x8A00;&#x554A;&#x53D1;&#x53D1;&#x5676;&#x68B5;&#x8482;&#x5188;
    |                     
    #latestComment
      .meauTitle
        i.iconfont.icon-pinglun
        |                             
        a(href='javascript:void(0);') &#x6700;&#x65B0;&#x8BC4;&#x8BBA;
      |                         
      .commentUser.commentshow &#x8BC4;&#x8BBA;&#x7528;&#x6237;
      |                         
      .commentData.commentshow &#x8BC4;&#x8BBA;&#x65E5;&#x671F;
      |                         
      .commentCont.commentshow &#x8BC4;&#x8BBA;&#x5185;&#x5BB9;
    |                     
    #frienConn
      .meauTitle
        i.iconfont.icon-lianjie
        |                             
        a(href='javascript:void(0);') &#x53CB;&#x60C5;&#x94FE;&#x63A5;
      |                         
      #github
        a(href='javascript:void(0);')
          i.iconfont.icon-github
          |  github