doctype html
html
  head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    |     
    title Blog
    |     
    meta(name='description', content='')
    |     
    meta(name='keywords', content='')
    |     
    link(href='http://at.alicdn.com/t/font_hbdu29qu385s714i.css', rel='stylesheet')
    |     
    link(rel='stylesheet', type='text/css', href='../stylesheets/blog.css')
  body
    #body_container
      #header
        #sitName
          h1 &#x634B;&#x7801;&#x535A;&#x5BA2;
          |                 
          p.connectEmail JXY001A@aliyun.com
        |             
        #nav_meau
          a.current(href='javascript:void(0)')
            i.iconfont.icon-shouye_shouye
            |  &#x9996;&#x9875;
          |                 
          a(href='javascript:void(0)')
            i.iconfont.icon-5ziyuanguidang
            |  &#x5F52;&#x6863;
          |                 
          a(href='javascript:void(0)')
            i.iconfont.icon-guanyu
            |  &#x5173;&#x4E8E;
      // 内容区域
      #content
        // 左侧瀑布流
        #waterFlow-left
          .flowBox
            .imgBox
              img(src='https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493538305133&di=d0d4f7561b3225bc28bdac190a35e758&imgtype=jpg&src=http%3A%2F%2Fimg2.imgtn.bdimg.com%2Fit%2Fu%3D1465131460%2C2745873025%26fm%3D214%26gp%3D0.jpg')
            |                     
            .itemTitlie
              a(href='javascript:void(0)') NodeJs&#x8FDE;&#x63A5;&#x6570;&#x636E;&#x5E93;
            |                     
            .itemAuthor
              | Author:
              a(href='javascript:void(0);') JXY001A
            |                     
            .itemContent
              .itemDesc &#x7B80;&#x4ECB;&#xFF1A;
              |                         
              p
                | &#x63A5;&#x6570;&#x636E;&#x5E93; &#x63A5;&#x6570;&#x636E;&#x5E93;&#x63A5;&#x6570;&#x636E;&#x5E93;&#x63A5;&#x6570;&#x636E;&#x5E93;&#x63A5;&#x6570;&#x636E;&#x5E93;&#x63A5;&#x6570;&#x636E;&#x5E93;&#x63A5;&#x6570;&#x636E;&#x5E93;&#x63A5;&#x6570;&#x636E; &#x5E93;&#x63A5;&#x6570;&#x636E;&#x5E93;&#x63A5;&#x6570;&#x636E;&#x5E93;&#x63A5;&#x6570;&#x636E;&#x5E93;&#x63A5;&#x6570;&#x636E;&#x5E93;&#x63A5;&#x6570;&#x636E;&#x5E93;&#x63A5;&#x6570;
            |                     
            .layer
              ul
                li
                  i.iconfont.icon-weibiaoti1
                  |                                 
                  a(href='javascript:void(0);', style='color: #ae0b9a;')
                    | NodeJs&#x8FDE;&#x63A5;&#x6570;&#x636E;&#x5E93;
                |                             
                li
                  i.iconfont.icon-articleUser
                  |                                 
                  a(href='javascript:void(0);')
                    | JXY001A
                |                             
                li
                  i.iconfont.icon-chakan
                  |                                 
                  a(href='javascript:void(0);')
                    | (10)
                |                             
                li
                  i.iconfont.icon-dianzan
                  |                                 
                  a(href='javascript:void(0);')
                    | (20)
                |                             
                li
                  i.iconfont.icon-zhizhulaiyuan
                  |                                 
                  a(href='javascript:void(0);', style='color: #ae0b9a;')
                    | www.asdf.com
                |                             
                li
                  i.iconfont.icon-xiangqing
                  |                                 
                  a(href='javascript:void(0);', style='color:#ae0b9a;')
                    | &#x8BE6;&#x60C5;
                |                             
                li
                  i.iconfont.icon-pinglun
                  |                                 
                  a(href='javascript:void(0);')
                    | (5)
        // 右侧菜单
        #meau-right
          #meauControl
            #search
              input#searchInput(type='text', name='', placeholder='Search')
              |                         
              a#searchBtn(href='javascript:void(0);') &#x641C;&#x7D22;
            |                     
            #classify
              .meauTitle
                i.iconfont.icon-fenlei
                |                             
                a(href='javascript:void(0);') &#x5206;&#x7C7B;
              |                         
              .content
                .classTitle javascript
                |                             
                .classTitle NodeJs
                |                             
                .classTitle java
                |                             
                .classTitle MongDB
                |                             
                .classTitle express
            |                     
            #newArticle
              .meauTitle
                i.iconfont.icon-zuixingonggao
                |                             
                a(href='javascript:void(0);') &#x6700;&#x65B0;&#x6587;&#x7AE0;
              |                         
              ul.articleList
                li.item1
                  a(href='javascript:void(0);') &#x3010;&#x8BD1;&#x3011;RESTful APIs, &#x4E00;&#x4E2A;&#x5DE8;&#x5927;&#x7684;&#x8C0E;&#x8A00;&#x554A;&#x53D1;&#x53D1;&#x5676;&#x68B5;&#x8482;&#x5188;
                |                             
                li.item1
                  a(href='javascript:void(0);') &#x3010;&#x8BD1;&#x3011;RESTful APIs, &#x4E00;&#x4E2A;&#x5DE8;&#x5927;&#x7684;&#x8C0E;&#x8A00;&#x554A;&#x53D1;&#x53D1;&#x5676;&#x68B5;&#x8482;&#x5188;
                |                             
                li.item1
                  a(href='javascript:void(0);') &#x3010;&#x8BD1;&#x3011;RESTful APIs, &#x4E00;&#x4E2A;&#x5DE8;&#x5927;&#x7684;&#x8C0E;&#x8A00;&#x554A;&#x53D1;&#x53D1;&#x5676;&#x68B5;&#x8482;&#x5188;
                |                             
                li.item1
                  a(href='javascript:void(0);') &#x3010;&#x8BD1;&#x3011;RESTful APIs, &#x4E00;&#x4E2A;&#x5DE8;&#x5927;&#x7684;&#x8C0E;&#x8A00;&#x554A;&#x53D1;&#x53D1;&#x5676;&#x68B5;&#x8482;&#x5188;
                |                             
                li.item1
                  a(href='javascript:void(0);') &#x3010;&#x8BD1;&#x3011;RESTful APIs, &#x4E00;&#x4E2A;&#x5DE8;&#x5927;&#x7684;&#x8C0E;&#x8A00;&#x554A;&#x53D1;&#x53D1;&#x5676;&#x68B5;&#x8482;&#x5188;
            |                     
            #latestComment
              .meauTitle
                i.iconfont.icon-pinglun
                |                             
                a(href='javascript:void(0);') &#x6700;&#x65B0;&#x8BC4;&#x8BBA;
              |                         
              .commentUser.commentshow &#x8BC4;&#x8BBA;&#x7528;&#x6237;
              |                         
              .commentData.commentshow &#x8BC4;&#x8BBA;&#x65E5;&#x671F;
              |                         
              .commentCont.commentshow &#x8BC4;&#x8BBA;&#x5185;&#x5BB9;
            |                     
            #frienConn
              .meauTitle
                i.iconfont.icon-lianjie
                |                             
                a(href='javascript:void(0);') &#x53CB;&#x60C5;&#x94FE;&#x63A5;
              |                         
              #github
                a(href='javascript:void(0);')
                  i.iconfont.icon-github
                  |  github
    |     
    script(type='text/javascript', src='../javascripts/jquery.js')
    |     
    script(type='text/javascript', src='../javascripts/layerInOut.js')
    |     
    script(type='text/javascript').
      $(function() {
      $("#nav_meau").children().each(function() {
      $(this).on('click', function(e) {
      $(this).addClass("current").siblings().removeClass('current');
      });
      });
      });
