extends layout

block content
  // 左侧瀑布流
  #waterFlow-left
  // 右侧菜单 引入
  include component/meau
  #showLoad
      #imgBox
        img(src='../images/loader.gif')
  |     
  script(type='text/javascript', src='../javascripts/jquery.js')
  |     
  script(type='text/javascript', src='../javascripts/layerInOut.js')
  script(type='text/javascript' src='../javascripts/meauBtn.js')    
  script(type='text/javascript' src='../javascripts/boxFlowTempl.js')
