doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |     
    title &#x66F4;&#x771F;&#x5B9E;&#x7684;&#x5730;&#x7403;
    |     
    link(rel='stylesheet', type='text/css', href='stylesheets/index.css')
  body
    #wrap
      .tagItem(style='background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);')
        a(href='javascript:void(0);') Bolg
        |             
        .layer
          a(href='blog.html') &#x67E5;&#x770B;
      |         
      .tagItem(style='background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);')
        a(href='javascript:void(0);') &#x7B97;&#x6CD5;
        |             
        .layer
          a(href='javascript:void(0)') &#x67E5;&#x770B;
      |         
      .tagItem(style='background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);')
        a(href='javascript:void(0);') &#x4F5C;&#x54C1;
        |             
        .layer
          a(href='javascript:void(0)') &#x67E5;&#x770B;
      |         
      .tagItem(style='background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);')
        a(href='javascript:void(0);') &#x5173;&#x4E8E;&#x6211;
        |             
        .layer
          a(href='javascript:void(0)') &#x67E5;&#x770B;
      |         
      .tagItem(style='background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);')
        a(href='javascript:void(0);') &#x8FDE;&#x63A5;
        |             
        .layer
          a(href='javascript:void(0)') &#x67E5;&#x770B;
      |         
      #bottomSeat
    |     
    #canvas-frame
    |     
    canvas#space
    |        
    script(type='text/javascript', src='/javascripts/js/Three.js')
    |     
    script(src='/javascripts/js/jquery-1.6.4.js')
    |     
    script(src='/javascripts/js/jquery.mousewheel.js')
    |     
    script(src='/javascripts/js/RequestAnimationFrame.js')
    |     
    script(src='/javascripts/js/sim.js')
    |     
    script(type='text/javascript', src='/javascripts/earth-shadow.js')
    |     
    script(type='text/javascript', src='/javascripts/sky.js')
    |     
    script(type='text/javascript', src='/javascripts/indexTagHow.js')
