doctype html
html
  head
    title= 'blog'   
    link(href='http://at.alicdn.com/t/font_u0lw4ss3np63whfr.css', rel='stylesheet')
    link(href='../stylesheets/headerMeau.css', rel='stylesheet')
    link(href='../stylesheets/btnAnimate.css' ,rel='stylesheet')
    //- 引入flowBox的样式
    link(rel='stylesheet', type='text/css', href='../stylesheets/flowBox.css') 
    script(type='text/javascript' , src='../javascripts/jquery.js')
    script(type='text/javascript' src='../javascripts/btnAnimate.js') 
  body
    #body_container
      //- 引入头部文件
      include component/header
      // 内容区域
      #content
        block content
